<!DOCTYPE html>
<html class="<%= cookies[:theme] %>">
  <head>
    <title>RestCountries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= preload_link_tag 'https://fonts.gstatic.com' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-veryLightGray font-body text-body1 text-blue-darkerBlue dark:bg-blue-veryDarkBlue dark:text-white">

    <header class="flex items-center justify-between px-6 py-8 shadow-md surface md:px-16 dark:bg-blue-dark">
      <a href="/countries">
        <h1 class="text-xl font-extrabold">Where in the world?</h1>
      </a>
      <form>
        <input type="hidden" name="theme" id="theme">
        <button type="submit"><span class="material-icons">dark_mode</span></button>
      </form>
    </header>

    <div class="mx-6 my-8 md:my-16 md:mx-16">
      <%= yield %>
    </div>
  </body>
</html>
